{{outlet}}
{{navigation-wrapper}}
<div class = "page-main">

<div class = "location-title">
  Explore cities in Bosnia and Hercegovina
</div>

{{#each model.locations as |location|}}
{{log 'id is:' location.id}}
{{#link-to 'city' location.id}}
{{#location-view title = location.name image = location.imageUrl description = location.description}}{{/location-view}}
{{/link-to}}

{{/each}}

</div>
