{{admin/admin-navigation}}


<div class = "admin-title">
<br/>
<h2> Manage Study Fields</h2>
{{#link-to 'admin.fields-add'}}<button>Add new study field</button>{{/link-to}}
</div>

<div class = "container-general">
<div class="admin-form">

  <ul class="admin-form-object-list">
    {{#each model.fields as |field|}}
    <li class="admin-form-object-list-item">
      <h3>{{field.name}}</h3>
      <div {{action 'deleteField' field.id on='click' }} class ="list-item-button">Delete</div>
    </li>
    {{/each}}
  </ul>
</div>
</div>
