{{admin/admin-navigation}}

<h3>Welcome to Study in Bosnia and Hercegovina management website</h3>

<div class = "row nav-boxes">
  <div class = "col-sm-6">
  {{#link-to "admin.cities"}}
    <div class = "nav-box">
    <div class = "nav-title">Cities</div>
    </div>
      {{/link-to}}
  </div>
  <div class = "col-sm-6">
    {{#link-to "admin.universities"}}
    <div class = "nav-box">
    <div class = "nav-title">Universities</div>
    </div>
    {{/link-to}}
  </div>
</div>


<div class = "row nav-boxes">
  <div class = "col-sm-6">
  {{#link-to "admin.programs"}}
    <div class = "nav-box">
    <div class = "nav-title">Study Programs</div>
    </div>
      {{/link-to}}
  </div>
  <div class = "col-sm-6">
    {{#link-to "admin.fields"}}
    <div class = "nav-box">
    <div class = "nav-title">Study Fields</div>
    </div>
    {{/link-to}}
  </div>
</div>

<div class = "row nav-boxes">
  <div class = "col-sm-6">
  {{#link-to "admin.blog"}}
    <div class = "nav-box">
    <div class = "nav-title">Blog</div>
    </div>
      {{/link-to}}
  </div>
  <div class = "col-sm-6">
    {{#link-to "admin.index"}}
    <div class = "nav-box">
    <div class = "nav-title"></div>
    </div>
    {{/link-to}}
  </div>
</div>
